# Ігноруємо папку з інструментами (вона дуже важка)
node_modules/

# Ігноруємо папку з готовою збіркою (ми будемо її генерувати самі)
dist/

# Ігноруємо логи помилок
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ігноруємо системні файли Apple та Windows
.DS_Store
Thumbs.db

# Ігноруємо налаштування самого VS Code (за бажанням)
.vscode/